
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <form class="simple-login-container">
        <h2>Đăng nhập</h2>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" required placeholder="Tài khoản">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="password" class="form-control" required placeholder="Mật khẩu">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login" value="Đăng nhập">
            </div>
        </div>
    </form>
</body>
</html>
