
#num1 {
padding-left:3.5px;
padding-top:0.01px ;  
padding-bottom:0.9px ; 
width: 14.6px;
height: 15.6px;
margin-top: 8px;
margin-right:9px;
text-align: center;
}
#num2 {
	width: 20px;
	height: 30px;
	padding-top:4px ;
	padding-bottom:20px ; 
	height: 20px;
	padding-right:15px ; 
	padding-left:3.5px ; 
}