body {
    font-size: 14px;
    color: #333;
}
.login-panel {
    margin-top: 25%;
}
.panel-heading{
    text-align: center;
}
.custom-alert {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 30%;
    margin-left: 35%;
}

